* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 25px;
    background-color: #333;
    color: #333;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

/***** REUSABLE ELEMENTS *****/

.upper {
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    border: 1px solid #777;
    padding: 7px 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/***** WELCOME BANNER *****/

/* Game rules */

h1, h2, h3 {
    text-transform: uppercase;
}

.popup-welcome {
    background-color: rgb(184, 184, 184);
    position: fixed;
    top: 0;
    left: 50%;
    width: 900px;
    height: 100vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rules-container {
    width: 70%;
    height: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rule-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
}

.icon-box {
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    margin-right: 30px;
}

.icon {
    width: 100%;
}

/* Choose players */
.players {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title-choose {
    padding-bottom: 30px;
}

.button-container {
    width: 100%;
    margin: 20px 0 40px;
}

.player-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.player {
    cursor: pointer;
}

/***** END GAME BANNNER *****/

.end-banner {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    left: 50%;
    top: 170px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 600px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 20px;
}

/***** SOUND BUTTON *****/

.sound-btn {
    position: absolute;
    top: 1px;
    background-color: #fff;
    border: 1px solid #555;
    cursor: pointer;
}

/***** FOOTER *****/

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -10;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.footer p {
    padding-bottom: 5px;
}

/***** CLASSES FOR INTERACTIVE ELEMENTS *****/

.hide {
    display: none;
}

.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}